#!/bin/bash

{{ basedir }}/{{ user }}/current/alertmanager-{{ alertversion }}.linux-amd64/alertmanager --config.file={{ basedir }}/{{ user }}/current/alertmanager-{{ alertversion }}.linux-amd64/alertmanager.yml --cluster.listen-address=""
